{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12",
          "esmodules": true
        }
      }
    ]
  ],
    "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
